<nav class="navbar navbar-expand navbar-dark bg-dark">
  <span class="navbar-brand">Nathan's Forum</span>
  <button type="button" class = "navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item " ><%= link_to t('.home'), posts_path%></a>
      <a class="nav-item" ><%= link_to t('.contact'), contact_path%></a>
      <%if user_signed_in? %>
        <a class="nav-item" ><%= link_to t('.create'), new_post_path%></a>
        <a class="nav-item" ><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete%></a>
      <% else %>
        <a class="nav-item" ><%= link_to t('.sign_in'), new_user_session_path%></a>
        <a class="nav-item" ><%= link_to t('.sign_up'), new_user_registration_path%></a>
      <% end %>
    </div>
  </div>
</nav>