<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Contact Us</h1>
<p>Complete the following form to get in touch with us</p>
<div>
  <%= form_with(url: request_contact_path, method: "post") do %>
    <%= label_tag(:name, t('.name')) %>
    <%= text_field_tag(:name) %>

    <%= label_tag(:email, t('.email')) %>
    <%= text_field_tag(:email) %>

    <%= label_tag(:telephone, t('.telephone')) %>
    <%= text_field_tag(:telephone) %>

    <%= label_tag(:message, t('.message')) %>
    <%= text_field_tag(:message) %>

    <%= submit_tag(t('.submit')) %>
  <% end %>
</div>
</body>
</html>