<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Dear Nathan,</p>
<p><%= t('.subject') %></p>
<dl>
  <dt><%= t('.name') %></dt>
  <dd><%= @name %></dd>
  <dt><%= t('.email') %>:</dt>
  <dd><%= @email %></dd>
  <dt><%= t('.telephone') %></dt>
  <dd><%= @telephone %></dd>
</dl>
<p><%= @message %></p>

<p><%= t('.thanks') %></p>
<p><%= @name %></p>
</body>
</html>