<div class="container">
  <%= simple_form_for @post, html: {id: "post_form"} do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: '   Your title here', required: true %>

    <%= form.label :content %>
    <%= form.text_area :content, placeholder: 'Your content here', class: 'contentbox' %>

    <%= form.submit %>
  <%end%>
  <%= button_to t('.back_button'), root_url, :method => :get%>
</div>


