<div class="post_content">
  <h1><%= @post.title %></h1>
  <div class="actual_post_content">
    <p><%= @post.content %></p>
  </div>
  <div class = "likes">
    <%= render "posts/likes" %>
  </div>
  <br>
  <div class="button-group">
    <%if current_user.id == @post.user_id%>
      <%= link_to t('.back_button'), posts_path, class: "btn btn-secondary btn-sm" %>
      <a><%= link_to t('.edit_button'), edit_post_path(@post), class: "btn btn-primary btn-sm" %></a>
      <%= link_to t('.delete_button'), @post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %>
    <%else%>
      <%= link_to t('.back_button'), posts_path, class: "btn btn-secondary btn-sm" %>
    <%end%>
  </div>
  <h3>Comments</h3>
  <div class = "show_comments">
    <%= render @post.comments %>
  </div>
  <div class = "comments">
    <%= render "comments/form" %>
  </div>

</div>
