<!DOCTYPE html>
<html>
<head>
  <title>Untitled2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Lato">
  <link rel = "stylesheet" href = "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%flash.each do |key,value|%>
  <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
<% end %>
<header class = 'main_header'>
  <p id = "logo"><%= link_to "Nathan's Rails Forum", posts_path%></p>
  <p id = "button"><%= link_to 'Contact Us', contact_path%> </p>
  <%if user_signed_in? %>
    <p id = "button"><%= link_to 'Create New Post', new_post_path%> </p>
    <p id = "button"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%> </p>
  <% else %>
    <p id = "button"><%= link_to 'Sign In', new_user_session_path%> </p>
    <p id = "button"><%= link_to 'Sign Up', new_user_registration_path%> </p>
  <% end %>
</header>
<div class = "wrapper">
  <%= yield %>
</div>
</body>
</html>
